In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("preprocessed/Event_occurrence_matrix.csv")

In [3]:
df.head(5)

,BlockId,Label,Type,E1,E2,E3,E4,E5,E6,E7,...,E20,E21,E22,E23,E24,E25,E26,E27,E28,E29
0,blk_-1608999687919862906,Success,NaN,0,0,203,0,10,7,0,...,0,10,1,10,0,4,10,0,0,0
1,blk_7503483334202473044,Success,NaN,0,2,1,0,3,0,0,...,0,3,1,3,0,0,3,0,0,0
2,blk_-3544583377289625738,Fail,21.0,0,0,203,0,3,0,0,...,1,3,1,3,0,0,3,0,0,0
3,blk_-9073992586687739851,Success,NaN,0,3,0,0,3,0,0,...,0,3,1,3,0,0,3,0,0,0
4,blk_7854771516489510256,Success,NaN,0,3,1,15,3,0,0,...,0,3,1,3,0,0,3,0,0,0

In [9]:
df.describe()

,Type,E1,E2,E3,E4,E5,E6,E7,E8,E9,...,E20,E21,E22,E23,E24,E25,E26,E27,E28,E29
count,16838.000000,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000,...,575061.000000,575061.000000,575061.0,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000,575061.000000
mean,9.375638,0.000017,0.208736,0.745531,0.619425,2.996607,0.012341,0.005940,0.000085,2.967536,...,0.009642,2.438084,1.0,2.427871,0.000007,0.012176,2.990537,0.001695,0.002240,0.000082
std,11.344260,0.005897,0.580644,2.517178,1.604554,0.220913,0.146923,0.080642,0.009779,0.310178,...,0.101269,1.184490,0.0,1.182648,0.002637,0.140481,0.408638,0.041183,0.048865,0.009230
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,3.000000,1.0,3.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000
50%,5.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,3.000000,1.0,3.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000
75%,8.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,3.000000,1.0,3.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000
max,31.000000,2.000000,4.000000,203.000000,41.000000,13.000000,10.000000,5.000000,2.000000,3.000000,...,3.000000,13.000000,1.0,10.000000,1.000000,5.000000,13.000000,2.000000,4.000000,2.000000

In [10]:
df.info

<bound method DataFrame.info of                          BlockId    Label  Type  E1  E2   E3  E4  E5  E6  E7  \
0       blk_-1608999687919862906  Success   NaN   0   0  203   0  10   7   0
1        blk_7503483334202473044  Success   NaN   0   2    1   0   3   0   0
2       blk_-3544583377289625738     Fail  21.0   0   0  203   0   3   0   0
3       blk_-9073992586687739851  Success   NaN   0   3    0   0   3   0   0
4        blk_7854771516489510256  Success   NaN   0   3    1  15   3   0   0
...                          ...      ...   ...  ..  ..  ...  ..  ..  ..  ..
575056   blk_1019720114020043203  Success   NaN   0   0    0   0   3   0   0
575057  blk_-2683116845478050414  Success   NaN   0   0    0   0   3   0   0
575058   blk_5595059397348477632  Success   NaN   0   0    0   0   3   0   0
575059   blk_1513937873877967730  Success   NaN   0   0    0   0   3   0   0
575060  blk_-9128742458709757181     Fail   4.0   0   0    0   0   3   0   0

        ...  E20  E21  E22  E23  E24  E25  E26  E27  E28  E29
0       ...    0   10    1   10    0    4   10    0    0    0
1       ...    0    3    1    3    0    0    3    0    0    0
2       ...    1    3    1    3    0    0    3    0    0    0
3       ...    0    3    1    3    0    0    3    0    0    0
4       ...    0    3    1    3    0    0    3    0    0    0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
575056  ...    0    3    1    3    0    0    3    0    0    0
575057  ...    0    3    1    3    0    0    3    0    0    0
575058  ...    0    3    1    3    0    0    3    0    0    0
575059  ...    0    3    1    3    0    0    3    0    0    0
575060  ...    0    1    1    0    0    0    3    0    3    0

[575061 rows x 32 columns]>

In [12]:
df["Label"].value_counts()

Label
Success    558223
Fail        16838
Name: count, dtype: int64

In [23]:
# 0.0301%

In [15]:
df.shape

(575061, 32)

In [19]:
df_notna = df[df["Type"].notna()]
df_notna["Type"].value_counts()

Type
5.0     4167
31.0    3225
3.0     2950
0.0     2809
4.0     1240
1.0      953
21.0     724
7.0      476
12.0     130
8.0       45
9.0       34
16.0      22
13.0      10
18.0       9
22.0       9
19.0       8
20.0       7
27.0       3
24.0       3
11.0       3
17.0       3
10.0       3
25.0       2
28.0       1
23.0       1
30.0       1
Name: count, dtype: int64

In [43]:
from sklearn.ensemble import IsolationForest
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

X = df.drop(columns=["BlockId", "Label", "Type"])

X = X.fillna(0)
X_scaled = StandardScaler().fit_transform(X)

In [44]:
X_scaled

array([[-2.94869554e-03, -3.59490884e-01,  8.03497725e+01, ...,
        -4.11687898e-02, -4.58358638e-02, -8.85441522e-03],
       [-2.94869554e-03,  3.08496223e+00,  1.01092939e-01, ...,
        -4.11687898e-02, -4.58358638e-02, -8.85441522e-03],
       [-2.94869554e-03, -3.59490884e-01,  8.03497725e+01, ...,
        -4.11687898e-02, -4.58358638e-02, -8.85441522e-03],
       ...,
       [-2.94869554e-03, -3.59490884e-01, -2.96177752e-01, ...,
        -4.11687898e-02, -4.58358638e-02, -8.85441522e-03],
       [-2.94869554e-03, -3.59490884e-01, -2.96177752e-01, ...,
        -4.11687898e-02, -4.58358638e-02, -8.85441522e-03],
       [-2.94869554e-03, -3.59490884e-01, -2.96177752e-01, ...,
        -4.11687898e-02,  6.13479941e+01, -8.85441522e-03]])

In [51]:
iso = IsolationForest(
    n_estimators=300,         # more trees for stability
    max_samples=256,          # default; small subsample size
    max_features=1.0,         # use all features
    contamination=0.0292,     # match your true anomaly rate
    bootstrap=False,          # no need for replacement
    random_state=42,
    n_jobs=-1
)

y_pred = iso.fit_predict(X_scaled)

In [52]:
y_true = (df["Label"]=="Fail").astype(int)

y_pred = pd.Series(y_pred).map({1:0, -1:1})

In [53]:
print(classification_report(y_true, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9878    0.9942    0.9910    558223
           1     0.7550    0.5930    0.6643     16838

    accuracy                         0.9824    575061
   macro avg     0.8714    0.7936    0.8276    575061
weighted avg     0.9810    0.9824    0.9814    575061

In [73]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

# Features and labels
X = df.drop(columns=["BlockId", "Label", "Type", "E20","E26","E27","E11"])
y = df["Label"].map({"Success": 0, "Fail": 1})

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Random Forest with class weights
clf = RandomForestClassifier(
    n_estimators=200,
    class_weight="balanced",
    random_state=42,
    n_jobs=-1
)

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred, digits=4))

              precision    recall  f1-score   support

           0     0.9904    0.9997    0.9950    111645
           1     0.9854    0.6793    0.8042      3368

    accuracy                         0.9903    115013
   macro avg     0.9879    0.8395    0.8996    115013
weighted avg     0.9903    0.9903    0.9894    115013

In [55]:
import numpy as np

feat_importances = pd.Series(clf.feature_importances_, index=X.columns)
print(feat_importances.sort_values(ascending=False).head(10))

E20    0.339088
E26    0.136609
E27    0.081055
E11    0.069123
E5     0.068362
E9     0.062788
E28    0.044385
E21    0.043234
E13    0.041403
E18    0.028701
dtype: float64

In [56]:
import joblib
joblib.dump(clf, "random_forest_hdfs.pkl")

['random_forest_hdfs.pkl']

In [ ]:
# src/train.py
import argparse
import pandas as pd
import joblib
import mlflow
import mlflow.sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

def train_model(data_path, version):
    # Load dataset
    df = pd.read_csv(data_path)
    X = df.drop(columns=["BlockId", "Label", "Type"])
    y = df["Label"].map({"Success": 0, "Fail": 1})

    # Split train/val
    X_train, X_val, y_train, y_val = train_test_split(
        X, y, test_size=0.2, random_state=42, stratify=y
    )

    # Train model
    clf = RandomForestClassifier(
        n_estimators=200,
        class_weight="balanced",
        random_state=42,
        n_jobs=-1
    )
    clf.fit(X_train, y_train)

    # Evaluate
    y_pred = clf.predict(X_val)
    report = classification_report(y_val, y_pred, digits=4, output_dict=True)
    print(classification_report(y_val, y_pred, digits=4))

    # Save model
    model_path = f"models/model_{version}.joblib"
    joblib.dump(clf, model_path)

    # Log to MLflow
    mlflow.set_experiment("hdfs_anomaly_detection")
    with mlflow.start_run(run_name=f"rf_{version}"):
        mlflow.log_param("n_estimators", 200)
        mlflow.log_param("class_weight", "balanced")
        mlflow.log_param("train_size", len(X_train))
        mlflow.log_param("val_size", len(X_val))
        mlflow.log_metric("precision_fail", report["1"]["precision"])
        mlflow.log_metric("recall_fail", report["1"]["recall"])
        mlflow.log_metric("f1_fail", report["1"]["f1-score"])
        mlflow.sklearn.log_model(clf, name="random_forest_model")

if __name__ == "__main__":
    parser = argparse.ArgumentParser()
    parser.add_argument("--data", required=True, help="Path to CSV dataset")
    parser.add_argument("--version", required=True, help="Model version (e.g., v1, v2)")
    args = parser.parse_args()

    train_model(args.data, args.version)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load your dataset
df = pd.read_csv("preprocessed/Event_occurrence_matrix.csv")


train_df, test_df = train_test_split(
    df,
    test_size=0.3,
    random_state=42,
    stratify=df["Label"] 
)

# Save to CSV
train_df.to_csv("preprocessed/Event_occurrence_matrix_train.csv", index=False)
test_df.to_csv("preprocessed/Event_occurrence_matrix_test.csv", index=False)

print(f"Train shape: {train_df.shape}")
print(f"Test shape: {test_df.shape}")

Train shape: (402542, 32)
Test shape: (172519, 32)

In [ ]:
import os
import pandas as pd
import joblib
import mlflow
import mlflow.sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

os.makedirs("mlruns", exist_ok=True)

mlflow.set_tracking_uri("file:./mlruns")

def train_model(data_path, version):
    # Load dataset
    df = pd.read_csv(data_path)
    X = df.drop(columns=["BlockId", "Label", "Type"]).astype("float64")
    y = df["Label"].map({"Success": 0, "Fail": 1})

    # Train/test split
    X_train, X_val, y_train, y_val = train_test_split(
        X, y, test_size=0.2, random_state=42, stratify=y
    )

    # Train model
    clf = RandomForestClassifier(
        n_estimators=200,
        class_weight="balanced",
        random_state=42,
        n_jobs=-1
    )
    clf.fit(X_train, y_train)

    # Evaluate
    y_pred = clf.predict(X_val)
    report = classification_report(y_val, y_pred, digits=4, output_dict=True)
    print(classification_report(y_val, y_pred, digits=4))

    # Ensure models folder exists
    os.makedirs("models", exist_ok=True)

    # Save model with joblib (optional since MLflow already logs it)
    model_path = f"models/model_{version}.joblib"
    joblib.dump(clf, model_path)

    # Log to MLflow
    mlflow.set_experiment("hdfs_anomaly_detection")
    with mlflow.start_run(run_name=f"rf_{version}"):
        mlflow.log_param("n_estimators", 200)
        mlflow.log_param("class_weight", "balanced")
        mlflow.log_param("train_size", len(X_train))
        mlflow.log_param("val_size", len(X_val))
        mlflow.log_metric("precision_fail", report["1"]["precision"])
        mlflow.log_metric("recall_fail", report["1"]["recall"])
        mlflow.log_metric("f1_fail", report["1"]["f1-score"])

        # Fix warning: use "name" instead of deprecated artifact_path
        mlflow.sklearn.log_model(clf, name="random_forest_model", 
                                 input_example=X_train.iloc[:1])

    return clf

# Run it
clf = train_model("preprocessed/Event_occurrence_matrix_train.csv", version="v1")

2025/08/27 20:28:37 INFO mlflow.tracking.fluent: Experiment with name 'hdfs_anomaly_detection' does not exist. Creating a new experiment.

              precision    recall  f1-score   support

           0     1.0000    0.9999    0.9999     78152
           1     0.9966    0.9996    0.9981      2357

    accuracy                         0.9999     80509
   macro avg     0.9983    0.9997    0.9990     80509
weighted avg     0.9999    0.9999    0.9999     80509

D:\ENVS\myenv\lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(
D:\ENVS\myenv\lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(

Downloading artifacts:   0%|          | 0/7 [00:00<?, ?it/s]